@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bs-primary-rgb: 23, 68, 118;
  --bs-secondary-rgb: 170, 176, 231;
}

body {
  font-family: 'Poppins', sans-serif;
}

.grad {
  background: rgb(226, 27, 27);
  background: linear-gradient(36deg, rgba(226, 27, 27, 1) 0%, rgba(252, 242, 15, 1) 100%);
}

.text-black-50 {
  color: #AAB0E7 !important;
}

.shad {
  box-shadow: 0px 4px 70px 1px rgba(0, 0, 0, 0.5);
}

.blue {
  color: #174476;
}


.fs-sm {
  font-size: 0.81568rem;
}