@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

*,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.grad {
  background: rgb(226, 27, 27);
  background: linear-gradient(36deg, rgba(226, 27, 27, 1) 0%, rgba(252, 242, 15, 1) 100%);
}

.shad {
  box-shadow: 0px 4px 70px 1px rgba(0, 0, 0, 0.5);
}

.blue {
  color: #174476;
}

.bg-blue {
  background-color: #0F3A69;
  border: 1px solid #0F3A69;
}

.bg-blue:hover {
  background-color: #0c2f53;
}